<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../jenkins-duration/apple.png" rel="apple-touch-icon"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta http-equiv="refresh" content="120" />

    <link rel="stylesheet" type="text/css" href="jobs.css"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"><!-- --></script>
    <script type="text/javascript" src="lib/underscore-min.js"><!-- --></script>
    <script type="text/javascript" src="lib/moment.min.js"><!-- --></script>



    <script type="text/template" id="job-data-template">
        <div id="<%= job.name %>" class="job <%= job.result %>">

            <div class="header">
            <a class="url" href="<%= job.jobUrl %>">
                <%= job.displayName %>
            </a>

             <span class="controls">
                <% if (job.building) { %>
                <a href="<%= job.url %>stop" class="ajax spinner"
                   title="stop">
                    <div class="spinner">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <div class="bar4"></div>
                        <div class="bar5"></div>
                        <div class="bar6"></div>
                        <div class="bar7"></div>
                        <div class="bar8"></div>
                        <div class="bar9"></div>
                        <div class="bar10"></div>
                        <div class="bar11"></div>
                        <div class="bar12"></div>
                    </div>

                </a>
                <% } else { %>
                <a href="<%= job.jobUrl %>build?delay=0sec" class="ajax start"
                   title="build">
                    &orarr;
                </a>
            <% } %>
            </span>
            </div>

            <div class="details">
                <span class="culprits">
                    <% if (job.result === 'failure') { %>
                    <% _.each(job.culprits, function(culprit) { %>
                    <span class="culprit"><%= culprit.fullName %></span>
                    <% }); %>
                    <% } %>
                </span>

                <a href="<%= job.url %>console" class="date">
                <% if (!job.building) { %>


                    built in <%= job.howLong %>

                    <%= job.fromNow %>

                <% } else { %>

                    started <%= job.buildStarted %>

                    <% if (job.complete >= 0) { %>
                        <%= job.complete %>% complete
                        <progress value="<%= job.complete %>" max="100"><%= job.complete %>%</progress>
                    <% } %>
                <% } %>
                </a>
            </div>
        </div>
    </script>


    <script type="text/javascript" src="jobs.js"></script>


</head>
<body>

<div id="jobs"></div>

</body>
</html>